.home-page {
  background-image: url("background image.jpeg"); /* Replace 'your-image.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to fill the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-heading {
  color: #ffffff; /* Text color */
  font-size: 36px; /* Adjust font size as needed */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the background */
}
